:root {
    --dark-text-color: #B08401;
    --light-text-color: #FAF6F2;
    --nav-background-color: #683B2B;
    --dark-taupe: #D49E8D;
    --background: #DED1BD;
}
/*
DARK GOLDENROD - #B08401
TAN - #D49E8D
DUST STORM - #DED1BD
WHITE SMOKE - #FAF6F2
VAN DYKE BROWN - #683B2B
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* nav section */
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: var(--nav-background-color);
}

.nav-link-group {
    list-style: none;
    display: flex;
}

.link a {
    color: var(--light-text-color);
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a {
    opacity: 1;
}

/* home section */
.home-section {
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    opacity: 0;
    transition: 1s;
    position: fixed;
    /* border: 3px solid gold; */
}

#heading-container {
    position: relative;
    width: 400px;
    height: 250px;
    /* border: 3px solid purple; */
}

#name {
   position: absolute;
   top: 110px;
   left: 15px;
   color: var(--dark-taupe);
   font-size: 50px;
   letter-spacing: .2em;
}

#hero-heading {
    position: absolute;
    color: var(--dark-text-color);
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 300;
    /* border: 3px solid #73AD21 */
}

#hero-author {
    /* border: 3px solid yellow; */
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    float: right;
    margin-top: 205px;
    color: var(--dark-text-color);
    opacity: 0.5;
}

.home-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.6;
}

.home-section.active,
.projects-section.active,
.about-section.active,
.contact-section.active {
    position: relative;
    opacity: 1;
    z-index: 8;
}

/* about */
.about-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container {
    position: relative;
}

.about-info {
    color: rgb(43, 40, 40);
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    align-items: left;
    width: 85%;
    padding: 8px;
  
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* projects */
.projects-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px;
    position: fixed;
    top: 0;
    transition: 1s;
    opacity: 0;
}

.projects-heading {
    font-size: 100px;
    background: var(--dark-taupe);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 45px;
    border-radius: 15px 50px;
    color: var(--background);
}

.project-title {
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}

.project-info {
    margin-top: 280px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    
}

.project-btn-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.project-btn {
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: var(--dark-text-color);
    color: var(--light-taupe);
    cursor: pointer;
}

.btn-align {
  grid-template-columns: repeat(1, 1fr);
} 

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
  }
  
.card {
  
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
} 

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}
  
.thumbnail img {
    fill: #c7c4c4;
    height: 135px;
    padding: 1.5rem;
}
  
.card-content {
      font-size: .75rem;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
}

.heading {
   color:  var(--dark-taupe);
   text-align: center;
} 

/* Contact Section */
.contact-section {
    position: absolute;
    top: 10px;
    opacity: 0;
    transition: 1s;
    padding: 100px 150px;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    align-items: center;
    margin: 0 auto;
    border-radius: 1px;
}

/* About Section */
.me-text {
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    font-weight: 700;
    font-size: 18px;
    width: 100hw;
}
.me-card-body {
    box-shadow: 4px 4px 15px rgb(216, 187, 187);
    background: var(--dark-text-color);
    color: var( --light-text-color);
    border: 6px outset var(--dark-taupe);
    box-shadow: 4px 4px 15px rgb(216, 187, 187);
}
.me-card {
    margin: 0 auto;
    margin-left: 40%; 
}




